* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  border: 0;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

}

h1 {
  color: #F9FAF8;
  font-size: 40px;
  margin-bottom: 10px;
}

.description {
  max-width: 500px;
}

.description p {
  color: lightgray;
}

.logo {
  color: lightgray;
  font-size: 3rem;
}

.description button {
  background: #3882F6;
  width: 90px;
  height: 40px;
  border-radius: 5px;
  margin: 10px 5px 5px 15px;
  color: #fff;
  font-size: 1.2rem;
}

.top-section {
  height: auto;
  background: #1F2937;

}

.content-section {
  height: 100px;
}

.moto-section {
  height: 100px;
  background: #1F8900;
}

.call-section {
  height: 100px;
  background: #FF2917;
}

.footer-section {
  height: 30px;
  background: #1F2937;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  color: color(srgb red green blue);
}

.top-nav1 {
  margin: 10px;
}

.top-nav2 {
  margin: 10px;
  margin-top: 22px;
}

.top-nav2 a {
  color: lightgray;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 10px;
  font-weight: 500;
  font-style: italic;
}

.top-nav2 a:hover {
  background: #1F2990;
}

.lower-nav {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-evenly;
}

.picture {
  overflow: hidden;
  max-width: 500px;
}

img {
  width: auto;
  height: 300px;
  margin: 0px 30px 10px 30px;

}
