* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
  border: 0;
}

.body {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;

}

h1 {
  color: #F9FAF8;
  font-size: 40px;
  margin-bottom: 10px;
}

.content-section h1 {
  color: black;
}

.description {
  max-width: 500px;
}

.description p {
  color: lightgray;
}

.logo {
  color: lightgray;
  font-size: 3rem;
}

.description button {
  background: #3882F6;
  width: 90px;
  height: 40px;
  border-radius: 5px;
  margin: 10px 5px 5px 15px;
  color: #fff;
  font-size: 1.2rem;
}

.top-section {
  height: auto;
  background: #1F2937;

}


.moto-section {
  background: #E5E7EB;
}

.moto-container {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1.2rem;
  font-style: oblique;
}

.call-section {
  background: #FFFFFF;
  display: flex;
  justify-content: center;
}

.call-action {
  background: #3b81f5;
  width: 900px;
  height: 120px;
  margin: 30px;
  border-radius: 15px;
  display: flex;
  flex: 0 1 auto;
  justify-content: space-between;
}

.call-action>div {
  margin: 10px;
}

.call-action>div>button {
  height: 30px;
  width: 80px;
  border-radius: 5px;
  align-self: center;
}

.button-cont {
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-section {
  height: 30px;
  background: #1F2937;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  color: color(srgb red green blue);
}

.top-nav1 {
  margin: 10px;
}

.top-nav2 {
  margin: 10px;
  margin-top: 22px;
}

.top-nav2 a {
  color: lightgray;
  font-size: 1.5rem;
  text-decoration: none;
  margin: 10px;
  font-weight: 500;
  font-style: italic;
}

.top-nav2 a:hover {
  background: #1F2990;
}

.lower-nav {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-evenly;
}

.picture {
  overflow: hidden;
  max-width: 500px;
}

.picture img {
  width: auto;
  height: 300px;
  margin: 0px 30px 10px 30px;

}

.content {
  display: flex;
  flex: 1 1 auto;
  justify-content: space-around;
}

.content-section>h1 {
  color: darkblue;
  justify-self: center;
}

.img-content img {
  height: 150px;
  margin: 20px;
  border: 5px solid #3882F6;
  border-radius: 10px;

}

.img-content>p {
  max-width: 200px;
  justify-self: center;
  margin-bottom: 20px;
}
